<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Issues</title>
</head>

<body onload="SortTable(0, 'N', 'issuesTable')">
  <nav class="navmargin">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <% if(typeof project != 'undefined') { %>
          <a href="/user/<%= user %>/projects/<%= project.id %>">
            <i class="material-icons left">keyboard_backspace</i>Retour au projet</a></li>

      </ul>
      <a href="/" class="brand-logo center">Gestion projets</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>Bienvenue <%= user %></a></li>
        <li><a href="/logout">Déconnexion</a></li>
      </ul>
    </div>
    <%}%>
    </nav>
    <div class="container">
      <div class="row">
        <table class = "highlight responsive-table" id="issuesTable">
          <thead>
            <tr>
              <th onClick="SortTable(0, 'N', 'issuesTable')">ID <i class="material-icons">unfold_more</i></th>
              <th>Description</th>
              <th onClick="SortTable(2, 'P', 'issuesTable')">Priorité <i class="material-icons">unfold_more</i></th>
              <th onClick="SortTable(3, 'S', 'issuesTable')">État <i class="material-icons">unfold_more</i></th>
              <th onClick="SortTable(4, 'N', 'issuesTable')">Difficulté <i class="material-icons">unfold_more</i></th>
              <th onClick="SortTable(5, 'N', 'issuesTable')">Sprint <i class="material-icons">unfold_more</i></th>
            </tr>
          </thead>
          <tbody>
            <% if(typeof issues != 'undefined') {%>
    <% issues.forEach(function(issue) { if(issue != null){%>
    <tr>
      <td><%= issue.num %></td>
      <td>
        <p><%= issue.description %></p>
      </td>
      <td><%= issue.priority %></td>
      <td><%= issue.state %></td>
      <td><%= issue.difficulty %></td>

      <% if(issue.sprint) { %>
      <td><a href="/user/<%= user %>/projects/<%= project.id %>/sprints/<%= issue.sprint %>">
        <%- sprints.find((sprint) => { return (sprint._id.equals(issue.sprint));}).num %>
        </a></td>
      <% } else { %>
      <td></td>
      <%}%>

      <td>
        <p><a href="/user/<%= user %>/projects/<%= project.id %>/backlog/<%= issue._id %>/update"
      class="center-align"><i class="material-icons left">edit</i></a></p>
      <p><a href="/user/<%= user %>/projects/<%= project.id %>/backlog/<%= issue._id %>/delete"
          class="materialize-red-text"><i class="material-icons left">delete_forever</i></a></p>
      </td>
    </tr>
    <% }}); %>
    <% } %>
    <tr id="newIssueRow" class="ignore-sorting">
    </tr>
    </tbody>
    </table>

    <div class="row">
      <div class="cardmargin">
        <!-- href="/user/<%= user %>/projects/<%= project.id %>/addIssue" -->
        <a id="newIssueButton" class="waves-effect waves-light btn btn-large"><i
            class="material-icons left">add</i>Nouvelle issue</a>
      </div>
    </div>
    </div>


    <script src="/scripts/sortTable.js"></script>
    <script src="/jquery/jquery-3.4.1.min.js"></script>

    <script src="/ejs/ejs.js"></script>
    <script>
      //déclare les variables pour addNewIssue.js
      var userLogin = "<%= user %>";
      var projectID = "<%=project.id%>";
      var sprints = [];
      <% if (sprints) {%>
        sprints = <%- JSON.stringify(sprints) %>;
      <%} %>
    </script>
    <script src="/scripts/addNewIssue.js"></script>

</body>

</html>