<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <% if(typeof project == 'undefined'){ %>
    <title>Untitled</title>
  <% } else { %>
    <title><%= project.name %></title>
  <% } %>
</head>

<body>
<nav class="navmargin">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <% if(typeof project != 'undefined') { %>
          <a href="/user/<%= user.login %>/projects">
            <i class="material-icons left">keyboard_backspace</i>Retour à la liste</a></li>

    </ul>
    <a href="/" class="brand-logo center">Gestion projets</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Bienvenue <%= user.login %></a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
  </div>
</nav>


<div class="row">

  <div class="col s12 m4 l2">

    <div class="collection">
      <a href="/user/<%= user.login %>/projects/<%= project.id %>/backlog" class="collection-item btn">Issues</a>
      <a href="/user/<%= user.login %>/projects/<%= project.id %>/sprints" class="collection-item btn ">Sprints</a>
      <a href="/user/<%= user.login %>/projects/<%= project.id %>/tests" class="collection-item btn ">Tests</a>
      <a href="/user/<%= user.login %>/projects/<%= project.id %>/releases" class="collection-item btn">Releases</a>
      <a href="/user/<%= user.login %>/projects/<%= project.id %>/newDoc" class="collection-item btn">Documentations</a>
    </div>
    <div class="collection">
      <a class ="collection-item btn btnModify" href="/user/<%= user.login %>/projects/<%= project.id %>/update">modifier</a>
      <a class ="collection-item btn btnDelete"href="/user/<%= user.login %>/projects/<%= project.id %>/delete">supprimer</a>
    </div>

    <% } %>



  </div>

  <div class="col col s12 m4 l6">
    <% if(typeof project != 'undefined') { %>
      <div class="card z-depth-1">
        <div class="card-content">
          <h6 class="card-title"><%= project.name %></h6>
          <p><%= project.description %></p>
        </div>
      </div>
    <% } %>
    <div class="row">
      <% if(typeof sprint[0] != 'undefined') {  %>
        <div class="todaySprint col s6">
          <h6 class="card-title">Sprint actuel</h6>
          <div class="card z-depth-1">
            <div class="card-content">
              <p><%= sprint[0].startDate.getDate() %>/<%= sprint[0].startDate.getMonth() +1 %>/<%= sprint[0].startDate.getFullYear(); %>
                - <%= sprint[0].endDate.getDate() %>/<%= sprint[0].endDate.getMonth() +1 %>/<%= sprint[0].endDate.getFullYear(); %></p>
              <p><%= sprint[0].description %></p>
              <p><a href="/user/<%= user.login %>/projects/<%= project.id %>/sprints/<%= sprint[0]._id %>"
                >Accéder</a></p>
            </div>
          </div>

        </div>
      <%}%>
      <% if(typeof tasks != 'undefined' && typeof sprint[0] != 'undefined') {  %>
      <div class="myTasks col s6">
        <h6 class="card-title">Mes tâches en cours</h6>
        <ul class="collapsible">
          <% tasks.forEach(function(task) { %>
          <%if(sprint[0].tasks.includes(task._id)
                  && typeof task.dev != 'undefined' && task.dev.equals(user._id) && task.state !== 'DONE') { %>
            <li>
              <%
                let badge_color = 'blue';
                if(task.state === 'TODO')
                  badge_color = 'red';
              %>
              <div class="collapsible-header">Tâche #<%= task.num %> : <%= task.description %>
                <span class="new badge <%= badge_color %>" data-badge-caption=""><%= task.state %></span>
              </div>
            </li>
          <% } %>
          <% }); %>
        </ul>
      </div>
      <%}%>
    </div>
  </div>

  <div class="col s12 m4 l3">
    <% if(typeof project != 'undefined') { %>

    <div class="card z-depth-1">
      <div class="card-content">
        <h6 class="card-title">Membres</h6>

        <% if(typeof members != 'undefined') { %>
          <ul>
            <% members.forEach(function(member) { %>
              <li><%= member.login %></li>
            <% }); %>
          </ul>

        <% } %>
      </div>
      <div class="card-action">
        <a href="/user/<%= user.login %>/projects/<%= project.id %>/addMember" class="center-align green-text accent-4">
          <i class="material-icons left">group_add</i>Ajouter un membre</a>
      </div>
      <% } %>
    </div>
    <div class="collection">
      <% if(project.adminDoc && project.adminDoc.length > 0) { %>
        <a class="collection-item" href="/user/<%= user.login %>/projects/<%= project.id %>/doc/adminDoc.txt">Doc
          Administrateur <i class="material-icons left">file_download</i></a>
      <% } %>
      <% if(project.userDoc && project.userDoc.length > 0) { %>
        <a class="collection-item" href="/user/<%= user.login %>/projects/<%= project.id %>/doc/userDoc.txt">Doc Utilisateur
          <i class="material-icons left">file_download</i></a>
      <% } %>
    </div>
  </div>
</div>
</body>

</html>
