<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>TÂCHES</title>
</head>

<body onload="SortTable(2, 'S', 'tasksTable')">
  <nav class="navmargin">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <% if(typeof project != 'undefined') { %>
          <a href="/user/<%= user %>/projects/<%= project.id %>">
            <i class="material-icons left">keyboard_backspace</i>Retour au projet</a></li>

      </ul>
      <a href="/" class="brand-logo center">Gestion projets</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>Bienvenue <%= user %></a></li>
        <li><a href="/logout">Déconnexion</a></li>
      </ul>
    </div>
    <%}%>
  </nav>
    <div class="container">
      <div class="col s8">
        <table id="tasksTable">
          <thead>
            <tr>
              <th>Déscription</th>
              <th>Definition Of Done</th>
              <th onClick="SortTable(2, 'S', 'tasksTable')">État <i class="material-icons">unfold_more</i></th>
              <th onClick="SortTable(3, 'T', 'tasksTable')">Développeur <i class="material-icons">unfold_more</i></th>
              <th onClick="SortTable(4, 'N', 'tasksTable')">Coût <i class="material-icons">unfold_more</i></th>
            </tr>
          </thead>
          <tbody>
            <% if(typeof tasks != 'undefined') { %>
    <% tasks.forEach(function(task) { if(task != null){%>
    <div class="row">
      <tr>
        <td>
          <p><%= task.description %></p>
        </td>
        <td><%= task.dod %></td>
        <td><%= task.state %></td>
        <%if(!task.dev) {%>
          <td></td>
        <%}else{%>
          <!-- impossible d'utiliser .has() à cause de sameValueZero-->
          <% dev_maps.forEach( (devlog, devid) => { %>
            <%if(devid == task.dev) {%>
              <td><%= devlog %></td>
            <%}%>
          <%})%>
        <%}%>
        <td><%= task.length %></td>
        <td>
          <a href="/user/<%= user %>/projects/<%= project.id %>/tasks/<%= task._id %>/updateTask" class="center-align"><i
              class="material-icons left">edit</i></a>
          <a href="/user/<%= user %>/projects/<%= project.id %>/tasks/<%= task._id %>/addDev" class="center-align"><i
              class="material-icons green-text">person_add</i></a>
          <a href="/user/<%= user %>/projects/<%= project.id %>/tasks/<%= task._id %>/delete"
            class="materialize-red-text"><i class="material-icons left">delete_forever</i></a>
        </td>
      </tr>
      <% }}); %>

      </tbody>
      </table>
      <% } %>

    </div>
    <div class="col s4">
      <div class="cardmargin">
        <a href="/user/<%= user %>/projects/<%= project.id %>/addtask" class="waves-effect waves-light btn btn-large"><i
            class="material-icons left">add</i>Nouvelle tâche</a>
      </div>
    </div>
    </div>

    <script src="/scripts/sortTable.js">
    </script>

</body>

</html>